include ./includes/components.jade

doctype html
html
	+head ('Index')

	body.podborka-body
		+header-back('')
		.podborka
			.container
				.podborka-banner
					.podborka-banner-title
						|Хочу на море дешево!!!
						img(src="images/icons/icon-swimsuit.png" alt="icon")
						img(src="images/icons/icon-glasses.png" alt="icon")
					.podborka-banner-text Мы собрали для вас наилучшие<br> предложения по морям и океанам<br> от авиаперевозчиков на май месяц. 
				.main-list
					.main-list-filter
						.main-list-filter-title Сначала дешевые
						.main-list-filter-button Фильтр
					.main-list-wrap
						.card.oneSide
							.card-header
								.card-header-info 2 пересадки. В пути 1 д. 15 ч.
								.card-header-title
									.card-header-title-unit.card-header-title-unit_form Самарканд
									.card-header-title-unit.card-header-title-unit_to Комсомольск-на-Амуре
							.card-body
								.card-segment
									.card-segment-header
										.card-segment-unit.card-segment-unit_from
											.card-segment-unit-time 20:55
											.card-segment-unit-title Самарканд
											.card-segment-unit-date 26 Апр 2018, Чт
										.card-segment-unit.card-segment-unit_to
											.card-segment-unit-time 09:35
											.card-segment-unit-title Комсомольск-на-Амуре
											.card-segment-unit-date 27 Апр 2018, Пт
									.card-segment-path
										.card-segment-path-unit dme
										.card-segment-path-unit hrb
										.card-segment-path-unit vvo
										.card-segment-path-unit khk
							
							.card-result
								.card-result-button от ₽ 926 700
								.card-result-icons
									.card-result-icons-unit.card-result-icons-unit_wing
									.card-result-icons-unit.card-result-icons-unit_wing
									.card-result-icons-unit.card-result-icons-unit_weight 8
									.card-result-icons-unit.card-result-icons-unit_luggage
						.card.oneSide
							.card-header
								.card-header-info 2 пересадки. В пути 1 д. 15 ч.
								.card-header-title
									.card-header-title-unit.card-header-title-unit_form Самарканд
									.card-header-title-unit.card-header-title-unit_to Комсомольск-на-Амуре
							.card-body
								.card-segment
									.card-segment-header
										.card-segment-unit.card-segment-unit_from
											.card-segment-unit-time 20:55
											.card-segment-unit-title Самарканд
											.card-segment-unit-date 26 Апр 2018, Чт
										.card-segment-unit.card-segment-unit_to
											.card-segment-unit-time 09:35
											.card-segment-unit-title Комсомольск-на-Амуре
											.card-segment-unit-date 27 Апр 2018, Пт
									.card-segment-path
										.card-segment-path-unit dme
										.card-segment-path-unit hrb
										.card-segment-path-unit vvo
										.card-segment-path-unit khk
							
							.card-result
								.card-result-button от ₽ 926 700
								.card-result-icons
									.card-result-icons-unit.card-result-icons-unit_wing
									.card-result-icons-unit.card-result-icons-unit_wing
									.card-result-icons-unit.card-result-icons-unit_weight 8
									.card-result-icons-unit.card-result-icons-unit_luggage

		+footer