@import './vars';
@import './colors';
@import 'vue-mapp/src/themes/core/index.css';
@import 'vue-mapp/css/layout.css';
@import './html';


.app {
    min-height: 100%;
    box: vertical top;
    font-family: 'Montserrat', sans-serif;
    
    .route-page {
        width: 100%;
        padding-top: $header-height;
    }

    a {
        color: #FFF !important;
    }
}
