.pad {
  padding: 16px;
}

.pad-h {
  padding: 8px;
}

.gap-h {
  width: 24px;
  flex: 0 0 auto;
}

.gap-v {
  height: 24px;
  flex: 0 0 auto;
}

.text-accent {
  color: $accent;
}

.text-success {
  color: $green-700;
}
