
:root {
  --primary-color: yellow;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $default-bg;
  font-size: 14px;
  min-width: 320px;
  line-height: 15px;
  margin: 0;
}

* {
    box-sizing: border-box;
}

p, h1 {
    margin: 0;
}

h1 {
    font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;

    &:hover {
		text-decoration: none;
	}
}
