@import './vars';
@import './colors';
@import 'vue-mapp/src/css/theme.css';
@import 'vue-mapp/css/layout.css';
@import 'vue-mapp/css/html.css';
@import './html';

.app {
    
}

.pad {
    padding: 16px;
}

.pad-h {
    padding: 8px;
}

.vm-button {
    text-transform: none;
}

.box-light {
    background: #FFF;
}
